# Default ignored files
/testlang.iws

# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
Test Programs/
dump.class
gradle/wrapper/gradle-wrapper.jar
path/
pseudo-kt.iml
pseudo-kt.main.iml
pseudo-kt.test.iml
src/main/antlr/gen/
src/main/gen/
src/main/java/com/llamalad7/pseudo/generated
src/main/kotlin/com/llamalad7/pseudo/Main.kt
src/main/resources/
testlang.ipr
DEBUG
**.psa
